params {
    dir_reads = "/data/weedomics/2.c_60_populations_genotyping/READ_LINKS"
    ext_read_1 = "1.fastq.gz"
    ext_read_2 = "2.fastq.gz"
    adapters = "${projectDir}/../test/IDT_for_Illumina_TruSeq_UD_and_CD_indexes.fa"
    reference_genome = "/data/weedomics/2.c_60_populations_genotyping/REF/Lolium_rigidum.fasta"
    min_mapping_quality_Q = 20
    min_base_quality_Q = 20
    groupings = "${projectDir}/../config/groupings.txt"
    min_call_quality = 20
    min_depth = 10
}
includeConfig "process.config"
