params {
    dir_reads = '/data-weedomics-1/align_fastq/test/reads'
    ext_read_1 = '_R1.fastq.gz'
    ext_read_2 = '_R2.fastq.gz'
    adapters = '/data-weedomics-1/align_fastq/test/IDT_for_Illumina_TruSeq_UD_and_CD_indexes.fa'
    reference_genome = '/data-weedomics-1/align_fastq/test/ref/Lolium_rigidum_genome.fasta'
    min_mapping_quality_Q = 20
    min_base_quality_Q = 20
    groupings = "${projectDir}/../config/groupings.txt"
}
includeConfig 'process.config'
