params {
    dir = '/data-weedomics-1/COMPARATIVE_GENOMICS_NEW_LOLIUM_PERENNE_GENOME'
    // reference_genome = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/022/539/505/GCF_022539505.1_APGP_CSIRO_Lrig_0.1/GCF_022539505.1_APGP_CSIRO_Lrig_0.1_genomic.fna.gz'
    reference_genome = './test/ref/Lolium_rigidum_genome.fasta'
    // reads_directory = 'https://sra_somewhere_ncbi...'
    reads_directory = './test/reads'

}
includeConfig 'process.config'
